---
import _ from 'lodash';
import { useTranslations } from "@i18n/util";
import Navbar from '@components/common/Navbar.astro';
import Button from '@components/common/Button.astro';
import LanguageToggle from "@components/common/LanguageToggle.astro";
import MobileNavbar from '@components/common/MobileNavbar.astro';

interface Props {
  align?: "home" | "docs";
  position?: "static" | "sticky";
  lang: "zh-cn" | "en" | string;
}

const t = useTranslations(Astro);
const { align = "home", position = "sticky", lang } = Astro.props;

let height, width, xpadding = "";
(() => {
  switch (align) {
    case "home":
      height = "4rem";
      width = "85.125rem";
      xpadding = "0";
      return;
    case "docs":
      height = "3.5rem";
      width = "100%";
      xpadding = "1.5rem";
      return;
  }
})()

---

<header-layout2
  style={`position: ${position}; height: ${height}`}
  class="w-screen backdrop-blur-md top-0 z-[10000] bg-gray-14 flex justify-center"
>
  <!-- 方便控制header宽度 -->
  <div class="header-content flex items-center justify-between">

    <div class="left-content flex items-center">
      <a class="no-underline" href="/">
        <img
          class="logo"
          src="https://img.alicdn.com/imgextra/i4/O1CN01rW3vAB1FDWKSOiFf0_!!6000000000453-2-tps-204-40.png"
          alt="nacos-log"
        />
      </a>
      <MobileNavbar top={height} class="mobile-navbar ml-4" />
    </div>

    <div class="center-content h-full">
      <Navbar class='pc-navbar h-full'/>
    </div>

    <div class="right-content flex items-center">
      <Button  
        type='primary' 
        visibility={false}
        class='code-toggle rounded-3xl mr-3'
        href="https://github.com/alibaba/nacos"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="15" height="15" viewBox="0 0 15 15"><g><path d="M7.50084,6.72409e-7C3.35661,-0.0017207,0,3.44446,0,7.69796C0,11.0615,2.09977,13.9207,5.02402,14.9707C5.41783,15.0723,5.3575,14.7848,5.3575,14.5886L5.3575,13.2545C3.08345,13.5282,2.99129,11.9824,2.83879,11.7242C2.53044,11.1837,1.80147,11.046,2.01933,10.7878C2.53715,10.5141,3.06502,10.8567,3.67668,11.7845C4.11909,12.4575,4.98212,12.3439,5.41951,12.232C5.51503,11.8275,5.71947,11.466,6.00101,11.1854C3.64484,10.7517,2.66283,9.27473,2.66283,7.51894C2.66283,6.66686,2.93598,5.88364,3.47224,5.25189C3.13038,4.21047,3.50408,3.3188,3.55435,3.18625C4.52799,3.09674,5.54016,3.90234,5.61892,3.96603C6.17194,3.81283,6.80371,3.73193,7.51089,3.73193C8.22143,3.73193,8.85488,3.81627,9.41291,3.9712C9.60228,3.82316,10.5407,3.13117,11.4456,3.21552C11.4942,3.34806,11.8596,4.21907,11.5378,5.24673C12.0808,5.88019,12.3573,6.6703,12.3573,7.5241C12.3573,9.28334,11.3686,10.762,9.0057,11.1889C9.39951,11.5882,9.64417,12.1425,9.64417,12.7553L9.64417,14.6919C9.65758,14.8468,9.64417,15,9.89554,15C12.8634,13.9723,15,11.0925,15,7.69968C15,3.44446,11.6417,6.72409e-7,7.50084,6.72409e-7Z" fill="#C7C9D1" fill-opacity="1"/></g></svg>
        <span class="text-xs ml-2">{t('home.introduce.nacos.code')}</span>
      </Button>
      <LanguageToggle id="pc-toggle" size="small" lang={lang.toLowerCase()} />
    </div>

  </div>
  
</header-layout2>



<script>
  class HeaderLayout2 extends HTMLElement {
    private ifscroll: boolean;
    constructor() {
        super();
        this.ifscroll = false;
        window.addEventListener("scroll", this.handleScroll)
    }

    handleScroll = () => {
      if (window.scrollY >= 100 && !this.ifscroll) {
        this.ifscroll = true;
        this.classList.add('bg-gray-14/[0.84]');
      }
      if (window.scrollY <= 100 && this.ifscroll) { 
        this.ifscroll = false;
        this.classList.remove('bg-gray-14/[0.84]');
      }
    }

  }
  customElements.define("header-layout2", HeaderLayout2);

</script>

<style define:vars={{ width, height, xpadding }}>
  header-layout2 {
    --header-content-width: var(--width);
    --logo-width: 96px;
    --header-height: var(--height);
    --header-xl-padding: var(--xpadding);
  }

  .header-content {
    width: var(--header-content-width);
    padding-left: var(--header-xl-padding);
    padding-right: var(--header-xl-padding);
  }

  .left-content .logo {
    vertical-align: sub;
    width: var(--logo-width);
  }

  .left-content .mobile-navbar {
    display: none;
  }

  @media (max-width: 85.125rem) {
    /* 在这里编写屏幕宽度小于85.125rem的CSS样式 */
    .header-content {
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (max-width: 50rem) { 
    /** header 特殊处理 屏幕小于 800px 就显示不完全 */
    .header-content {
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .left-content .mobile-navbar {
      display: block;
    }
    .center-content {
      display: none;
    }
    .code-toggle {
      padding: 0;
      span {
        display: none;
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

</style>

