---
import TableOfContentsList from './TableOfContentsList.astro';
import ContributeMenu from './ContributeMenu.astro';
import CommunityMenu from './CommunityMenu.astro';
import type { Props } from '@astrojs/starlight/props';
import './style.css';
import FeedbackButton from './FeedbackButton.astro';
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
const { locale, toc, editUrl,entry } = Astro.props;
---

{
	toc && (
		<starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
			<nav aria-labelledby="starlight__on-this-page" class="starlight__on-this-page">
				<h2 id="starlight__on-this-page" class="heading">{t('rightSidebar.onThisPage')}</h2>
				<TableOfContentsList toc={toc.items} />
				<ContributeMenu editHref={editUrl.href} title={entry?.data?.title}/>
				<CommunityMenu />
				<FeedbackButton />
			</nav>
		</starlight-toc>
	)
}

<script src="@starlight/components/TableOfContents/starlight-toc"></script>
