---
import { Image } from "astro:assets";
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
const companiesLogosTop = [
  "https://img.alicdn.com/imgextra/i1/O1CN019O0Fcd27j6to9Vt7U_!!6000000007832-2-tps-195-134.png",
  "https://img.alicdn.com/imgextra/i1/O1CN01GqMYP21Xjj7xttIj0_!!6000000002960-0-tps-700-383.jpg",
  "https://img.alicdn.com/imgextra/i2/O1CN019Wc4cj1wAnRlUGyOa_!!6000000006268-0-tps-665-500.jpg",
  "https://img.alicdn.com/imgextra/i3/O1CN01FDriPl1JMSW5AX3XM_!!6000000001014-0-tps-960-640.jpg",
  "https://img.alicdn.com/imgextra/i3/O1CN01aZRCpD1muSmiuOESn_!!6000000005014-2-tps-112-134.png",
  "https://img.alicdn.com/imgextra/i3/O1CN01zeG94b1GEizHD8BC7_!!6000000000591-2-tps-118-134.png",
  "https://img.alicdn.com/imgextra/i4/O1CN01GDpRdg1GQAtBdB53c_!!6000000000616-2-tps-151-134.png",
  "https://img.alicdn.com/imgextra/i3/O1CN01ohI5Fs1RVAzJBJMcx_!!6000000002116-2-tps-133-134.png",
  "https://img.alicdn.com/imgextra/i4/O1CN01dwK6KR1fPamQPQ43U_!!6000000003999-2-tps-141-134.png",
  "https://img.alicdn.com/imgextra/i3/O1CN01pI0ATm1Rm7duxwwxA_!!6000000002153-2-tps-212-134.png",
  "https://img.alicdn.com/imgextra/i2/O1CN01vJfVA8249RCXI0LAJ_!!6000000007348-2-tps-108-134.png",
  "https://img.alicdn.com/imgextra/i4/O1CN01VEqM7V1ETGKHqRyG8_!!6000000000352-2-tps-139-134.png",
  "https://img.alicdn.com/imgextra/i2/O1CN01Gsdtzf1wJUyhKqSYn_!!6000000006287-2-tps-207-134.png",
  "https://img.alicdn.com/imgextra/i1/O1CN01H4xJqN29KxF22RECI_!!6000000008050-2-tps-164-134.png",
];
const companiesLogosBottom = [
  "https://img.alicdn.com/imgextra/i1/O1CN01jMfPem1fyrHB2q4lc_!!6000000004076-2-tps-180-134.png",
  "https://img.alicdn.com/imgextra/i1/O1CN01AdpUOJ1ZeLqhzZVJi_!!6000000003219-2-tps-129-134.png",
  "https://img.alicdn.com/imgextra/i3/O1CN012VoLcg1tzEDXuDQwI_!!6000000005972-2-tps-249-134.png",
  "https://img.alicdn.com/imgextra/i4/O1CN01XZs5vT27Y7OPDmMjR_!!6000000007808-2-tps-48-134.png",
  "https://img.alicdn.com/tfs/TB1ghT_atTfau8jSZFwXXX1mVXa-280-160.jpg",
  "https://img.alicdn.com/tfs/TB1Xd4IOUY1gK0jSZFMXXaWcVXa-280-160.png",
  "https://img.alicdn.com/imgextra/i1/O1CN01CTgp0F1WFfW6nv8aV_!!6000000002759-2-tps-1660-712.png",
  "https://img.alicdn.com/imgextra/i2/O1CN01wcac5V1dk5H0aZKO1_!!6000000003773-0-tps-282-264.jpg",
  "https://img.alicdn.com/imgextra/i4/O1CN01SlosIa1JleJ9mYJWW_!!6000000001069-0-tps-442-138.jpg",
  "https://img.alicdn.com/imgextra/i4/O1CN01sAt7mP1RSt0kXjipx_!!6000000002111-0-tps-652-158.jpg",
  "https://img.alicdn.com/imgextra/i3/O1CN01R83oxC1I4lbxRG3KV_!!6000000000840-0-tps-1264-384.jpg",
  "https://img.alicdn.com/imgextra/i2/O1CN01NfCKrc1rvu7DweRhy_!!6000000005694-0-tps-772-604.jpg",
  "https://img.alicdn.com/imgextra/i3/O1CN01ejiV531WONBfLdYkN_!!6000000002778-0-tps-1442-478.jpg",
];
const companiesLogos = companiesLogosTop.concat(companiesLogosBottom);
---

<span class="use-companies-wrapper">
  <use-companies
    class="use-companies flex flex-col items-center bg-gary-02 py-10"
  >
    <div class="top-title flex flex-col items-center mb-4 mt-16">
      <span class="text-gray-10 text-xs w-full max-w-[63.5rem]"
        >{t("home.use.companies.about")}</span
      >
    </div>

    <div class="bottom-silder">
      <ul class="slider">
        {
          companiesLogosTop.map((logo, index) => (
            <li class="slider-item">
              <Image
                src={logo}
                alt="log"
                width="112"
                height="96"
                class="object-contain opacity-70"
              />
            </li>
          ))
        }
      </ul>
      <ul class="slider">
        {
          companiesLogosTop.map((logo, index) => (
            <li class="slider-item">
              <Image
                src={logo}
                alt="log"
                width="112"
                height="96"
                class="object-contain opacity-70"
              />
            </li>
          ))
        }
      </ul>
    </div>

    <div class="bottom-silder">
      <ul class="slider-other">
        {
          companiesLogosBottom.map((logo, index) => (
            <li class="slider-item-bottom">
              <Image
                src={logo}
                alt="log"
                width="112"
                height="76"
                class="object-contain opacity-70"
              />
            </li>
          ))
        }
      </ul>
      <ul class="slider-other">
        {
          companiesLogosBottom.map((logo, index) => (
            <li class="slider-item-bottom">
              <Image
                src={logo}
                alt="log"
                width="112"
                height="76"
                class="object-contain opacity-70"
              />
            </li>
          ))
        }
      </ul>
    </div>

    <div class="mobile-bottom-card hidden">
      {
        companiesLogos.map((logo) => (
          <div class="card-item">
            <Image
              src={logo}
              alt="log"
              width="139"
              height="76"
              class="object-contain"
            />
          </div>
        ))
      }
    </div>
  </use-companies>
</span>
<script>
  class UseCompanies extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define("use-companies", UseCompanies);
</script>

<style is:global>
  .use-companies-wrapper {
    use-companies {
      --time: 40s;
    }
    .top-title,
    .bottom-silder {
      width: 85.125rem;
    }
    .bottom-silder {
      position: relative;
      display: flex;
      /* width: auto; */
      overflow: hidden;
      mask-image: linear-gradient(
        90deg,
        transparent,
        theme("colors.gray.01") 20%,
        theme("colors.gray.01") 80%,
        transparent
      );
    }
    .slider {
      padding: 0rem;
      list-style-type: none;
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.5s;
    }
    .slider-other {
      padding: 0rem;
      list-style-type: none;
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.5s;
    }
    .slider-item {
      display: inline-block;
      padding: 0 1.25rem;
      filter: grayscale(100%);
    }
    .slider-item-bottom {
      display: inline-block;
      padding: 0 1.25rem;
      filter: grayscale(100%);
    }
    Image {
      /* max-height: 3.125rem; */
      cursor: pointer;
      transition: filter 0.5s;
    }
    .slider {
      white-space: nowrap;
      animation: slide var(--time) linear infinite;
    }
    @keyframes slide {
      0% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(-100%);
      }
    }
    .bottom-silder:hover > .slider {
      animation-play-state: paused;
    }
    .bottom-silder:hover > .slider-other {
      animation-play-state: paused;
    }
    .slider-item:first-child {
      animation: reset var(--time) step-end infinite;
      animation-delay: calc(var(--time) / -2);
    }
    @keyframes reset {
      0% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(100%);
      }
    }

    .slider-other {
      white-space: nowrap;
      animation: reslide var(--time) linear infinite;
    }
    @keyframes reslide {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(0%);
      }
    }

    @media (max-width: 50rem) {
      .use-companies {
        padding: 1.5rem;
      }
      .top-title {
        width: 100%;
        margin-top: 2.5rem;
      }
      .bottom-silder {
        width: 100%;
        display: none !important;
      }
      .mobile-bottom-card {
        display: flex !important;
        flex-wrap: wrap;
        margin: 0 -8px;
        /* justify-content: space-between; */
      }

      .card-item {
        padding: 0.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid theme("colors.gray.03");
        max-width: 100%;
        flex: 1;
        margin: 0 8px 8px;
        margin-bottom: 1rem;
        background-color: #fff;
        filter: grayscale(100%);
      }
    }

    @media (min-width: 50rem) and (max-width: 86rem) {
      .use-companies {
        padding: 2.5rem;
      }
      .top-title,
      .bottom-silder {
        width: 100%;
      }
    }
  }
</style>
